body{
    padding: 0;
    display: block;
}

.hideme{
    display: none;
}

#header{
    height: 70px;
    text-align: center;
}

#leftColumnAdmin{
    width: 200px;
    float: left;

}

#leftMenu, #loginBox, #registerBox{
    padding-bottom: 20px;
}

#centerColumn{
    width: 600px;
    float: left;
}

#footer{
    clear: both;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;

}
#loginAdmins{
    text-align: center;


}
.loginForm{
    display:table;
    margin: 0 auto;
}


.cartBox{
    padding: 5px 0px 5px 0px;
}

.showHidden{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#registerBoxHidden{
    display: none;
}


/* Чекбокс*/
.my_checkbox{
    position: relative;
    text-align: center;
}
.my_checkbox::after{
    content: "Открыт";
    position: absolute;
    display: block;
    margin-top:15px;
    margin-left:0px;
}
.my_checkbox:checked::after{
    content: "Закрыт";
}
#blockNewCategory{
    position: absolute;
    top:100px;

    text-align: center;
}
#addTblProduct{
    text-align: center;

}
#editTblProduct{

}
#tblCat{
    text-align: center;

}

